body, html{
	display:inline-block;
	height:100%;
	width:100%;
	margin: 0px;
	background-image:url(../img/skyscraper.png);
	background-repeat: no-repeat;
	background-position: right top;
    background-attachment: fixed;
	
	font-family:"Arial", Times, sanserif;
	
}

#menu {
    position: fixed;
    height: 100%;
    width: 382px;
    background-color: #444951;
    display: inline-block;
}





/*
.divMenu{
	
    height: 100px;
    width: 70%;
    margin: 0px 15%;
    padding: 0px;
	border: 5px solid #a8a9ad;
}*/

.ulMenu {
    position: fixed;
    top: 47px;
    left: 62px;
    /* list-style-type: none; */
    /* display: inline-block; */
    height: 100px;
    width: 253px;
    margin: 0px;
    padding: 0px;
}
.sections {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 70%;
    padding-top: 8%;
    font-size: 25px;
    /* color: #a8a9ad; */
    color: #444951;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #a8a9ad;
    box-sizing: border-box;
    border-width: 5px;
}

.logo {
    display: inline-block;
    width: 100%;
    text-align: center;
    /*height: 604%;*/
    padding-top: 12%;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #a8a9ad;
    box-sizing: border-box;
    border-width: 5px;
}

#principal {
    position: absolute;
    left: 382px;
    float: right;
    /* width: 66.66%; */
    height: 100%;
    display: inline-block;
}

#contentBox {
    text-align: center;
    padding-left: 0px;
    width: 60%;
    margin-right: 30%;
    margin-left: 10%;
    height: 100%;
}

h1 ,p{
	margin:0px;
}

.maintitle {
    background-color: white;
    height: 5%;
    margin-top: 5%;
    padding-top: 9px;
    float: left;
    width: 100%;
}
.content {
    height: 49%;
    padding: 0px 2%;
    /* margin-top: 15%; */
    background-color: #444951;
    display: inline-block;
    width: 46%;
    float: left;
    padding-top: 4%;
    margin-bottom: 5%;
}
.chart {
    height: 55%;
    padding: 0px 2%;
    /* margin-top: 15%; */
    background-color: #444951;
    display: inline-block;
    width: 96%;
    float: left;
    padding-top: 4%;
    margin-bottom: 5%;
}

#pie {
    position: fixed;
    bottom: 0;
    right: 0;
    /* float: right; */
    width: 367px;
    height: 120px;
    display: inline-block;
    background-color: #444951;
}

#footBox{
	padding-left:0px;
}


.footContent {
    position: absolute;
    right: 0px;
    bottom: 12%;
    float: right;
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 9% 0px;
    font-size: 20px;
    background-color: white;
}

.footContentLogo {
    position: absolute;
    bottom: 9%;
    left: 0px;
    float: right;
    display: inline-block;
    width: 70%;
}








